---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=jorge02312121
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="87f6d453b9edf41b20ddcac22667be59",
        oauth_signature="BSdGVW4AEQMrIf%2BinvirplLGDgw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803395", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0u7oWCanNHkqqA",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 03 Dec 2016 22:16:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 002ca0d6c75999f7b86aa2d8f46cf37a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '7'
      X-Rate-Limit-Reset:
      - '1480804118'
      X-Response-Time:
      - '96'
      X-Transaction:
      - 0071ea1f008316c8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":18778505,"id_str":"18778505","name":"Francisco Granados","screen_name":"gzfrancisco","location":"San
        Francisco, CA","description":"Swift\/ObjC\/Elixir\/Ruby senior developer @
        https:\/\/t.co\/9KASPbv5gZ + instructor @ Lynda\/v2b\/LinkedIn, economist,
        \ud83d\udc22, \ud83c\udfc8, scuba diver, #musicInspector, and \ud83d\udc15
        person","url":"https:\/\/t.co\/2rtoPW8vxO","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/2rtoPW8vxO","expanded_url":"http:\/\/gzfrancisco.name","display_url":"gzfrancisco.name","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/9KASPbv5gZ","expanded_url":"http:\/\/bistro.digital","display_url":"bistro.digital","indices":[42,65]}]}},"protected":false,"followers_count":1248,"friends_count":1116,"listed_count":118,"created_at":"Thu
        Jan 08 20:45:52 +0000 2009","favourites_count":2727,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":40419,"lang":"en","status":{"created_at":"Fri
        Dec 02 01:30:56 +0000 2016","id":804498049414393856,"id_str":"804498049414393856","text":"Watch
        live! \"NFL Thursday Night Football\" #TNF https:\/\/t.co\/cWJr5KzSdk","truncated":false,"entities":{"hashtags":[{"text":"TNF","indices":[42,46]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/cWJr5KzSdk","expanded_url":"https:\/\/twitter.com\/i\/live\/768633364911788032","display_url":"twitter.com\/i\/live\/7686333\u2026","indices":[47,70]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":{"id":"1808e9ed9e667620","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/1808e9ed9e667620.json","place_type":"admin","name":"M\u00e9xico","full_name":"M\u00e9xico","country_code":"MX","country":"M\u00e9xico","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-100.613313,18.3671046],[-98.596782,18.3671046],[-98.596782,20.285187],[-100.613313,20.285187]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/723930153802289152\/uFXn0jS-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/723930153802289152\/uFXn0jS-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18778505\/1439219956","profile_link_color":"6057A7","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"none"},{"id":1415674062,"id_str":"1415674062","name":"Jorge
        Acosta Lemus","screen_name":"cggg88jorge","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":92,"friends_count":287,"listed_count":2,"created_at":"Thu
        May 09 14:41:10 +0000 2013","favourites_count":145,"utc_offset":-21600,"time_zone":"Mexico
        City","geo_enabled":true,"verified":false,"statuses_count":556,"lang":"es","status":{"created_at":"Sat
     [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=cggg88jorge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="32651a6a3e8ab48042e300c3f8746aba",
        oauth_signature="dVUhAId9Xn%2BA%2B7cxKLJymRMcXg4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803396", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1517251759673029351&screen_name=cggg88jorge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="ef1157fc0ac033fb9a74892c142a0225",
        oauth_signature="ZaIYI9k8L%2F3JK2Y%2BQxB%2Fx0%2F89ss%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803396", oauth_token="1415674062-9zolN[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1489066451121913962&screen_name=cggg88jorge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="d87cdae3ee5413bff4c9b1fcf2b9563f",
        oauth_signature="HoNAzmWPRUTICr5HzNU9EIwu0P8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803397", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0u7oWCanNHkqqA",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 03 Dec 2016 22:16:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b1cbc6b1b1db834451d9aca04d3fe68b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '4'
      X-Rate-Limit-Reset:
      - '1480804118'
      X-Response-Time:
      - '256'
      X-Transaction:
      - 00b7e60d00ff0f75
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":44758775,"id_str":"44758775","name":"def user=''josdem''","screen_name":"josdem","location":"Guadalajara,
        Jalisco","description":"Una parodia de Jos\u00e9 Luis De la Cruz Morales.
        Instagram: j0sdem Snapchat: j0sdem","url":"https:\/\/t.co\/xlKcxoZHXe","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xlKcxoZHXe","expanded_url":"http:\/\/josdem.io","display_url":"josdem.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":263,"friends_count":95,"listed_count":18,"created_at":"Thu
        Jun 04 23:22:48 +0000 2009","favourites_count":2007,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"stat[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&screen_name=jorge02312121
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="7de53dce2b61eec7ff354596ba7e9e8d",
        oauth_signature="458mVMr1jppBlEiGgLkD6CxxOlE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803399", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0u7oW[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1552734052440204208&screen_name=jorge02312121
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="db6eb923814c73f603d98f44eadcb00b",
        oauth_signature="gQEZ4HcvIO4j%2B6RUxR4UyyPexDk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480803399", oauth_token="1415674062-9zolNmbi1PH[...]
