---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=music2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="f9d5dafdae208c2194ed20d897142ec6",
        oauth_signature="dAeMC1UCvTG202uRbvZu%2BfFAQEA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480801919", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0u7oWCanNHkqqA",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 03 Dec 2016 21:52:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9451fd1cd9402c94cdc3f7e9ef5349f0
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1480802820'
      X-Response-Time:
      - '66'
      X-Transaction:
      - 008cd18100685918
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":1415674062,"id_str":"1415674062","name":"Jorge Acosta
        Lemus","screen_name":"cggg88jorge","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":90,"friends_count":286,"listed_count":2,"created_at":"Thu
        May 09 14:41:10 +0000 2013","favourites_count":145,"utc_offset":-21600,"time_zone":"Mexico
        City","geo_enabled":true,"verified":false,"statuses_count":556,"lang":"es","status":{"created_at":"Sat
        Dec 03 14:38:28 +0000 2016","id":805058624963878912,"id_str":"805058624963878912","text":"I''m
        at UNY II - @uny2 in Benito Juarez, DF https:\/\/t.co\/IP33ET2r34","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"uny2","name":"Uny
        II de M\u00e9xico","id":46897514,"id_str":"46897514","indices":[16,21]}],"urls":[{"url":"https:\/\/t.co\/IP33ET2r34","expanded_url":"https:\/\/www.swarmapp.com\/c\/ilLTuy8NIWk","display_url":"swarmapp.com\/c\/ilLTuy8NIWk","indices":[43,66]}]},"source":"\u003ca
        href=\"http:\/\/foursquare.com\" rel=\"nofollow\"\u003eFoursquare\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":{"type":"Point","coordinates":[19.37234882,-99.16421771]},"coordinates":{"type":"Point","coordinates":[-99.16421771,19.37234882]},"place":{"id":"7d93122509633720","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/7d93122509633720.json","place_type":"city","name":"Benito
        Ju\u00e1rez","full_name":"Benito Ju\u00e1rez, Distrito Federal","country_code":"MX","country":"M\u00e9xico","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-99.1919955,19.357102],[-99.1309649,19.357102],[-99.1309649,19.4041235],[-99.1919955,19.4041235]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"in"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000033897710\/440181d7c07f0243e3f5b1fc3d811a2b.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000033897710\/440181d7c07f0243e3f5b1fc3d811a2b.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/416625116760383488\/_YYAXktJ_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/416625116760383488\/_YYAXktJ_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1415674062\/1374106262","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"live_following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false,"translator_type":"none"},{"id":562019583,"id_str":"562019583","name":"audreystotts399","screen_name":"audreystotts399","location":"","description":"I
        am looking for a man for friendship hopefully leading to romance.  please
        follow me. http:\/\/7vd.cn\/adF","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":45,"friends_count":851,"listed_count":0,"created_at":"Tue
        Apr 24 11:19:11 +0000 2012","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_ena[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&screen_name=music2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="8f1rDOpFqPugqswZHTHQDYxup", oauth_nonce="f33561b5a232a6ae5f71a5fca8453de6",
        oauth_signature="HjjVVb57WSbwa%2BdVNjRkdhvo3ds%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1480801920", oauth_token="1415674062-9zolNmbi1PHn9343iPHQcYXXI0u7oWCanNH[...]
